/ee7-ejb-cdi-scopemix-sharedlib/target/
/ee7-ejb-cdi-scopemix-ejb/target/
/ee7-ejb-cdi-scopemix-ejblite/target/
/ee7-ejb-cdi-scopemix-web/target/
/ee7-ejb-cdi-scopemix-ear/target/
/deployments/
/logs/